.signup-title{
    color: #00ffaa;
    
}

.signup-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 3%;
  height: 86%;
}


.emailInput {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sign-up{
    color: #00ffaa;
    margin-top:20px;
}

.sign-up-button {
    padding: 15px 30px;
    background-color: #00ffaa;
    color: #004d47;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top:1px;
    margin-bottom: 15px;
}

.sign-up-button:hover {
    background-color: #8affd8;
    transform: scale(1.05);
}

.sign-up-button:active {
    background-color: #aafee2;
    transform: scale(1);
}

.signup-input-box{
    display:flex;
    flex-direction: column;
    background: linear-gradient(145deg, #1a1a1a, #2a2a2a);;
    width: 500px;
    align-items:center;
    justify-content: center;
    border-radius: 16px;
}

.google-signup-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  color: #444;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 5px;
}

.google-signup-btn:hover {
  background-color: #f7f7f7;
  transform: scale(1.05);

}
.google-signup-btnactive {
    background-color: #fbfafa;
    transform: scale(1);
}

.google-icon {
  width: 20px;
  height: 20px;
}

.signup-line{
    border-color: #fffbf7;
    width: 75%;
}

.signupSmallText{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#fffbf7;
    margin-top: 1px;
}

